

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="container-fluid">
    <%= link_to events_path , class: "navbar-brand navbar-logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <%= link_to dashboard_path, class: "" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <% end %>

    <%= link_to new_event_path, class: "nav-link add-btn" do %>
      <%= image_tag "add.png" %>
    <% end %>
  </div>
</div>
