<div class="banner">
  <div class="container-form px-5 pb-5 ">

      <%= simple_form_for event do |f| %>
        <%= f.input :name %>
        <%= f.input :adress %>
        <%= f.input :description %>
        <%= f.association :category %>
        <%= f.input :start_at,
            as: :string,
            input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :end_at,
            as: :string,
            input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :image, as: :file %>

    <div class="player-input" data-controller="player">
      <div class="mb-3 increment-input-group">
        <p>Min player</p>
        <div class="increment-inputs">
          <%= f.input :min_player, as: :integer, label: false, input_html: { value: event.min_player || "1", class: "d-none", data: { player_target: "input" }} %>
          <div class="input-group-prepend">
            <span class="button-player-minus" type="button" data-action="click->player#decrement" data-inputid="event_min_player">-</span>
          </div>
          <span class="player-count minus" data-player-target="count" data-inputid="event_min_player"><%= event.min_player || "1"  %></span>
          <div class="input-group-append">
            <span class="button-player-plus" type="button" data-action="click->player#increment" data-inputid="event_min_player">+</span>
          </div>
        </div>
      </div>
      <div class="mb-3 increment-input-group">
        <p>Max Player</p>
        <div class="increment-inputs">
          <%= f.input :max_player, as: :integer, label: false, input_html: { value: event.max_player || 1, class: "d-none", data: { player_target: "input" } } %>
          <div class="input-group-prepend">
            <span class="button-player-minus" type="button" data-action="click->player#decrement" data-inputId="event_max_player">-</span>
          </div>
          <span class="player-count plus" data-player-target="count" data-inputId="event_max_player"><%= event.max_player || "1"  %></span>
          <div class="input-group-append">
            <span class="button-player-plus" type="button" data-action="click->player#increment" data-inputId="event_max_player">+</span>
          </div>
        </div>
      </div>
    </div>

        <div style="text-align: center;">
        <%= f.submit 'Save', class: "btn custom-button"  %>
        </div>
      <% end %>
    </div>
</div>
