<div class="offcanvas offcanvas-bottom round-top modal-fullscreen event-show-offcanvas" id="event-<%= event.id %>">
  <div class="offcanvas-body small">
    <div class="event-show-card">
      <div style="background-image: url(<%= cl_image_path( event.image.attached? ? event.image.key : "") %>)" class="event-show-card-main-picture"></div>
      <div class="mx-3 my-3">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title bold"><%= event.name %></h5>
        <%= image_tag "#{event.category.sport.downcase}.png", class: , width: "47px", height: "47px" %>
      </div>

      <p class="card-text"><%= event.start_at %></p>
      <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %>/ <%= event.max_player %></p>
      <% unless event.participations.count < event.max_player %>
        <p>Cet événement a déjà atteint le nombre maximum de participants.</p>
      <% end %>
      <div class="d-flex align-items-center">
        <% event.users.each do |user| %>
          <% if user.avatar.attached? %>
            <%= cl_image_tag user.avatar.key, width: 45, height: 45, style: "border-radius : 50%"  %>
          <% end %>
        <% end %>
      </div>
      </div>
      <%= button_to 'Join', participate_event_path(event), method: :post, class: 'join-cta flex-grow' %>
    </div>
  </div>
</div>
