<div class="offcanvas offcanvas-bottom round-top modal-fullscreen  event-show-offcanvas" id="event-<%= event.id %>">
  <div class="offcanvas-body small">
    <div class="event-show-card">
      <div style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path( event.image.attached? ? event.image.key : "") %>)" class="parent-div event-show-card-main-picture">
        <div class="offcanvas-img p-4">
          <%= image_tag "#{event.category.sport.downcase}.png", class: , width: "100px", height: "100px" %>
          <h4 class="card-title bold "><%= event.name %></h4>
        </div>
      </div>

      <div class="container px-4 py-4 space-between-divs">
        <div class="event-show-card-top">
          <div class="participant-wrapper">
            <% if event.participations.count > 2 %>
              <div class="participant-score">
                <p><small>+</small><%= event.participations.count - 2 %></p>
              </div>
            <% end %>
            <% event.users.take(2).each do |user| %>
              <div class="participant-avatar">
                <%= cl_image_tag user.avatar.attached? ? user.avatar.key : "user_3.png", width: 45, height: 45, style: "border-radius: 50%"  %>
              </div>
            <% end %>
          </div>
          <div class="participant-progress">
            <p class="card-text"><strong><%= event.current_participants_count %></strong> <small><%=  "participant".pluralize(event.current_participants_count) %> out of <%= event.max_player %></small> / <span class="dark-blue"><%= event.participant_gauge %></span><small>%</small></p>
            <progress class="event-gauge" max="100" value="<%= event.participant_gauge %>"></progress>
            <div class="d-flex justify-content-between align-items-center ">
              <% unless event.participations.count < event.max_player %>
                <p class="des">Cet événement a déjà atteint le nombre maximum de participants.</p>
              <% end %>
            </div>
          </div>
        </div>


        <p class="card-text description" ><%= event.description %></p>



        <div class="card-event-content">
          <i class="fa-regular fa-calendar"></i><p><%= event.start_at.strftime("%A %B %e @%I:%M %p") %></p>
          <i class="fa-regular fa-clock"></i><p><%= event.duration %></p>
          <i class="fa-solid fa-location-dot"></i><p><span><%= event.adress.strip %></span></p>
        </div>


        <%= link_to 'Join', participate_event_path(event), method: :post, class: 'btn-update-favorites' %>
      </div>
    </div>
  </div>
</div>
