<%# <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button> %>

<div class="offcanvas offcanvas-bottom round-top" tabindex="-1" id="event-<%= event.id %>" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel"><%= event.name %></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
      <h5 class="card-title"></h5>
          <div class="d-flex justify-content-between align-items-center">
            <div>

            </div>
            <%= cl_image_tag event.image.key, height: 150, width: 170, crop: :fill, radius: 10 %>

            <div>
            <h5 class="card-text"><%= event.category.sport %></h5>
          <p class="card-text"><%= event.start_at %></p>
          <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>

          <% if event.participations.count < event.max_player %>
          <%= button_to 'Join 😎', participate_event_path(event), method: :post, class: 'align-items-center btn btn-primary' %>
        <% else %>
          <p>Cet événement a déjà atteint le nombre maximum de participants.</p>
        <% end %>
            </div>
          </div>
  </div>
</div>
</div>
