

<div style="width: 100%; height: 900px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-switch-target="map">
  </div>

<div data-switch-target="cards" class="d-none row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  <% @events.each do |event| %>
    <div class="col mx-auto">
      <div class="d-flex flex-column">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text"><%= event.category.sport %>  </p>
            <div>
              <% if event.user.avatar.attached? %>
                <%= cl_image_tag event.user.avatar.key, width: 45, height: 45, crop: :fill  %>
              <% else %>
                <%= image_tag 'avatar.png', width: 45, height: 45 %>
              <% end %>
            </div>
          </div>
          <p class="card-text"><%= event.start_at %></p>
          <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
          <%= link_to 'Details', event, class: 'btn btn-primary mr-2' %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>
</div>

<% @events.each do |event| %>
  <%= render "events/show_modal", event: event %>
<% end %>
