<h1>Sporteam</h1>
<p>Find people to moove your body</p>

<%= form_tag(events_path, method: :get) do %>
  <%= select_tag 'categories[]', options_from_collection_for_select(Category.all, :id, :sport, @user_categories_ids), { include_blank: 'All Categories', multiple: true } %>
  <%= submit_tag 'Filter', class: 'btn btn-light' %>
<% end %>



<h1>Events</h1>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Participations</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class="row">
  <% @events.each do |event| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%# Insérer l'image de l'icône de la catégorie ici %>
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <p class="card-text"><%= event.description %></p>
          <p class="card-text"><strong>Category:</strong> <%= event.category.sport %></p>
          <p class="card-text"><strong>Starts at:</strong> <%= event.start_at %></p>
          <p class="card-text"><strong>Ends at:</strong> <%= event.end_at %></p>
          <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
          <%= link_to 'Show', event, class: 'btn btn-primary mr-2' %>
          <%= link_to 'Edit', event_path(event), class: 'btn btn-secondary mr-2' %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Event', new_event_path %>
