<h1>Sporteam</h1>
<p>Find people to moove your body</p>

<%= form_tag(events_path, method: :get) do %>
  <% Category.all.each do |category| %>
    <%= check_box_tag 'categories[]', category.id %>
    <%= label_tag "category_#{category.id}", category.sport %>
    <br>
  <% end %>
<button type="button" class="btn btn-light">My favs🩷</button>
<% end %>

<h1>Events</h1>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<div data-switch-target="cards" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
  <% @events.each do |event| %>
    <div class="col">
      <div class="event-card">
        <h5 class="card-title"><%= event.name %></h5>
        <p class="card-text"><%= event.description %></p>
        <p><strong>Category:</strong> <%= event.category.sport %></p>
        <p><strong>Starts at:</strong> <%= event.start_at %></p>
        <p><strong>Ends at:</strong> <%= event.end_at %></p>
        <p><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
        <%= button_to 'Join', event, method: :get, class: 'button btn-primary mr-2' %>
        <%= button_to 'Edit', event_path(event), class: 'button btn-secondary mr-2' %>
        <%= button_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button btn-danger' %>
      </div>
    </div>
  <% end %>
</div>


<%= link_to 'New Event', new_event_path %>
