<div class="container">
  <h1>Search a sport event</h1>
  <div class="search-form pb-5 mb-5">
    <%= form_tag(events_path, method: :get, class: "search-form-inner") do %>
      <div class="search-form-part">
        <h4>Where do you want to play?</h4>
        <%= text_field_tag :location, nil, class: "form-control", placeholder: "Enter location..." %>
      </div>

      <div class="search-form-part">
        <h4>What sport(s) do you want to practice?</h4>
        <div class="sport-categories">
          <% @categories.each do |category| %>
            <label for="category_<%= category.id %>" class="gpt-sport-card custom-label <%= current_user.favourite_categories.include?(category) ? 'border-sport-selected' : 'border-sport-bg' %>">
              <%= check_box_tag "categories[]", category.id, current_user.favourite_categories.include?(category), id: "gpt_category_#{category.id}", class: "category-input", data: { action: "click->gpt-myfavs#toggleSelection" } %>
              <%= image_tag "#{category.sport.downcase}.png", width: "47px", height: "47px" %>
              <%= category.sport %>
            </label>
          <% end %>
        </div>
      </div>
      <div class="search-form-part">
        <h4>When are you available?</h4>
        <div class="schedule-event">
          <input class="tag-selector" id="filter_demain" name="schedule" type="checkbox" data-controller="filter" data-action="change->filter.toggleFilter" data-target="filter.tomorrow" value="1">
          <label for="filter_demain">Demain</label>

          <input class="tag-selector" id="filter_ce_weekend" name="schedule" type="checkbox" data-controller="filter" data-action="change->filter.toggleFilter" data-target="filter.thisWeekend" value="2">
          <label for="filter_ce_weekend">Ce week-end</label>

          <input class="tag-selector" id="filter_next_7_days" name="schedule" type="checkbox" data-controller="filter" data-action="change->filter.toggleFilter" data-target="filter.next7Days" value="7">
          <label for="filter_next_7_days">7 jours</label>
        </div>
      </div>


      <button data-action="click->filter.search">Search</button>

    <% end %>
  </div>
</div>


<script>
// JavaScript pour la sélection des cartes
const cards = document.querySelectorAll('.gpt-sport-card');

cards.forEach(card => {
  card.addEventListener('click', () => {
    const checkbox = card.querySelector('.category-input');
    console.log(checkbox)
    // Marquer visuellement les cartes sélectionnées au chargement
    if (checkbox.checked) {
      checkbox.checked = false;
    } else {
      checkbox.checked = true;
    }
    card.classList.toggle('border-sport-bg')
    card.classList.toggle('border-sport-selected');

  });
});

</script>
