
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.sport %>
</p>

<p>
  <strong>Participants:</strong>
  <%= @event.participations.count %> / <%= @event.max_player %>
</p>



<p>
  <strong>Start Time:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @event.end_at %>
</p>

<%= cl_image_tag @event.image.key, height: 300, width: 400, crop: :fill  %>

<%= button_to 'Back', events_path, method: :get, class: "btn btn-light" %>
<% if @event.participations.count < @event.max_player %>
  <%= button_to 'Participer', participate_event_path(@event), method: :post, class: 'btn btn-primary' %>
<% else %>
  <p>Cet événement a déjà atteint le nombre maximum de participants.</p>
<% end %>
