<div class="welcome-container">
  <div class="container">
    <h1>Welcome back, <%= current_user.first_name %></h1>
    <h3>You're set to attend <strong><%= @next_events.count %></strong> <%= "event".pluralize(@next_events.count) %></h3>
  </div>
  <section class="events">
    <%= render "events/event_cards", events: @next_events  %>
  </section>
</div>

<div class="container">
  <h3>You've attendeed <strong><%= @past_events.count %></strong> <%= "event".pluralize(@past_events.count) %></h3>
</div>
<section class="events">
  <%= render "events/event_cards", events: @past_events  %>
</section>

<div class="container schedule-container pb-5 mb-4" data-controller="sportcheck">
  <div class="row">
    <div class="gpt-sports-container my-4">
      <%= form_tag(dashboard_path, method: :get, class: "gpt-update-favorites-form") do %>
        <div class="sport-categories">
          <% Category.all.order(:sport).each do |category| %>
            <%# if current_user.favourite_categories.include?(category) %>
            <label for="category_<%= category.id %>" class="gpt-sport-card custom-label <%= current_user.favourite_categories.include?(category) ? 'border-sport-selected' : 'border-sport-bg' %>">
              <%= check_box_tag "categories[]", category.id, current_user.favourite_categories.include?(category), id: "gpt_category_#{category.id}", class: "category-input", data: { action: "click->gpt-myfavs#toggleSelection" } %>
              <img src="<%= image_path("#{category.sport.downcase}.png") %>" alt="<%= category.sport %>" style="width: 47px; height: 47px;">
              <%= category.sport %>
            </label>
          <% end %>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-4">
            <%= submit_tag "Update favorites", class: "btn-update-favorites" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
