<body style="background-color: #E3E0F9;">

<div class="container"  >
<h2>Hello <%= current_user.first_name %></h2>
<h3>
Your futur events
</h3>

  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card" data-controller="hover">
          <%# Insérer l'image de l'icône de la catégorie ici %>
          <div class="card-body" data-action="mouseenter->hover#see mouseleave->hover#hide">
            <% if event.created_event?(current_user) %>
              <h5 class="card-title"><%= event.name%> You created this event</h5>
            <% else %>
              <h5 class="card-title"><%= event.name%> You joined this event</h5>
            <% end %>
            <p class="card-text"><strong>Category:</strong> <%= event.category.sport %></p>
            <p class="card-text"><strong>Starts at:</strong> <%= event.start_at %></p>
            <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
            <div class='btn-container'>
              <% if event.created_event?(current_user) %>
                <button type="button" class=" btn btn-blue btn-border d-none" data-bs-toggle="modal" data-bs-target="#edit-event-<%= event.id %>" data-hover-target="appear">Edit</button>
              <% else %>
                <button type="button" class="btn btn-red btn btn-Alizarin btn-border d-none" data-bs-toggle="modal" data-bs-target="#destroy-event-<%= event.id %>" data-hover-target="appear">Delete</button>
              <% end %>
            </div>
            <%= render "events/edit_modal", event: event %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div>
<div class="container">
  <h3>your profile</h3>
  <p>Your address:</p>
  <%= current_user.address %>

  <p>Favorite Sport:</p>
  <% @user_favourites.each do |fav| %>
    <p>
       <%= fav.category.sport %>
    </p>
  <% end%>

</div class="background-div">

<div class="container" data-controller="edit">
  <button data-action="click->edit#toggle" style="justify-content: right;">UPDATE</button>
  <div class="container d-none" data-edit-target="toEdit">
    <h4>update your profile</h4>
      <% @user_favourites.each do |fav| %>
        <p>
          Favorite Sport: <%= fav.category.sport %>
        <%# </p>
        <%= link_to "delete", favourite_path(fav.id), data: {turbo_method: :delete, confirm: 'Are you sure?' } %> %>
      <% end%>
    <div>
      <%= form_for(current_user, url: user_profile_path, method: :patch) do |f| %>
        <div>
          <%= f.label :address, notice: 'Your address was successfully updated.'%><br>
          <%= f.text_field :address %>
        </div>

        <div>
          <%= f.label :category_ids, "Select your favorite sports" %><br>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :sport do |b| %>
            <%= b.check_box %> <%= b.text %><br>
          <% end %>
        </div>

        <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>

  </div>
</div>
