<div class="welcome-container">
  <h1>Hello, welcome back!</h1>
  <p class="event-count">You went to <%= current_user.events_this_month.count %> events this month!</p>
  <h2 class="upcoming-schedule">Your upcoming schedule:</h2>
  <!-- Le reste du contenu ira ici -->
</div>

<div class="container schedule-container">
  <div class="row">
<!-- Prochain événement -->
<div class="col-6 card-container">
  <div class="card h-100 d-flex flex-column">
    <% if @next_event && @next_event.image.attached? %>
      <div class="card-img-top d-flex justify-content-center" style="overflow: hidden;">
        <%= image_tag @next_event.image, alt: @next_event.name, class: 'img-fluid rounded', style: 'max-height: 200px;' %>
      </div>
      <div class="card-body d-flex align-items-start flex-column">
        <p class="mb-auto">You have <%= @next_event.category.sport %> on <%= @next_event.start_at.strftime("%A %B %e") %></p>
      </div>
    <% else %>
      <div class="card-body">
        <p class="card-text">No upcoming events</p>
      </div>
    <% end %>
  </div>
</div>


<!-- Préférences -->
<div class="col-6 card-container">
  <div class="card h-100"> <!-- Ajout de la classe h-100 pour que la carte occupe toute la hauteur -->
    <div class="card-body">
      <p class="card-text">Your preferences</p>
      <div class="sport-logos-container">
        <% current_user.favourite_categories.each do |category| %>
          <%= image_tag "#{category.sport.downcase}.png", alt: category.sport, class: "sport-logo small-logo" %>
        <% end %>
      </div>
      <!-- Bouton pour ouvrir la modale de choix des passions -->
      <button type="button" class="small-button" data-bs-toggle="offcanvas" data-bs-target="#search-event" aria-controls="search-event">
        Your sports
      </button>
    </div>
  </div>
</div>


  <div class="row">
    <!-- Case vide pour le moment -->
    <div class="col-6 card-container">
      <div class="card">
        <div class="card-body">
          <!-- Contenu à définir plus tard -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- modal d'actualisation des favoris -->
<div class="offcanvas offcanvas-bottom round-top" tabindex="-1" id="search-event" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Search Event</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">


<%= form_tag(dashboard_path, method: :get, class: "search-form-inner") do %>

  <div data-controller="myfavs">
    <div data-myfavs-target="categories">
      <% Category.all.each do |category| %>
        <div class="form-check form-switch">
          <%= check_box_tag "categories[]", category.id, params[:categories]&.map(&:to_i)&.include?(category.id), class: 'form-check-input', id: "category_#{category.id}", data: { action: "change->myfavs#filter" } %>
          <%= label_tag "category_#{category.id}", category.sport, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
</div>
