

 <div class="welcome-container">
  <h1>Hello, welcome back!</h1>
  <p class="event-count">You went to <%= current_user.events_this_month.count %> events this month!</p>
  <h2 class="upcoming-schedule">Your upcoming schedule:</h2>
    <!-- Le reste du contenu ira ici -->

  </div>


<div class="container schedule-container">
  <div class="row">
    <!-- Prochain événement -->
    <div class="col-6 card-container">
     <div class="card">
    <% if @next_event %>
      <%= image_tag @next_event.category.image, alt: @next_event.category.sport, class: 'card-img-top' %>
      <div class="card-body">
        <p>You have <%= @next_event.category.sport %> on <%= @next_event.start_at.strftime("%A %B %e") %></p>
      </div>
    <% else %>
      <p>No upcoming events</p>
    <% end %>
  </div>
    </div>

    <!-- Préférences -->
    <div class="col-6 card-container">
      <div class="card">
        <div class="card-body">
          <p>Your preferences</p>
          <% current_user.favourite_categories.each do |category| %>
            <span><%= category.sport %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Recherche -->
    <div class="col-6 card-container">
      <div class="card">
        <div class="card-body">
          <%= link_to "Search", events_path, class: "search-link" %>
        </div>
      </div>
    </div>

    <!-- Case vide pour le moment -->
    <div class="col-6 card-container">
      <div class="card">
        <div class="card-body">
          <!-- Contenu à définir plus tard -->
        </div>
      </div>
    </div>
  </div>
</div>



































<div class="container">
  <h3>Your created events💪</h3>
  <div class="row">
    <% @events.each do |event| %>
      <% if event.created_event?(current_user) %>
        <div class="col-md-4 mb-4">
          <div class="card" data-controller="hover">
            <%# Insérer l'image de l'icône de la catégorie ici %>
            <div class="card-body" data-action="mouseenter->hover#see mouseleave->hover#hide">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-text"><strong>Category:</strong> <%= event.category.sport %></p>
              <p class="card-text"><strong>Starts at:</strong> <%= event.start_at %></p>
              <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
              <div class='btn-container'>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edit-event-<%= event.id %>">Update</button>
                <%= link_to "Delete Event", participation_path(current_user.find_participation_for(event)), data: { bs_toggle: "modal", bs_target: "#destroy-event-#{event.id}", turbo_method: :delete, confirm: 'Are you sure?' }, class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h3> Events you join😎</h3>
  <div class="row">
    <% @events.each do |event| %>
      <% unless event.created_event?(current_user) %>
        <div class="col-md-4 mb-4">
          <div class="card" data-controller="hover">
            <%# Insérer l'image de l'icône de la catégorie ici %>
            <div class="card-body" data-action="mouseenter->hover#see mouseleave->hover#hide">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-text"><strong>Category:</strong> <%= event.category.sport %></p>
              <p class="card-text"><strong>Starts at:</strong> <%= event.start_at %></p>
              <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
              <div class='btn-container'>
                <%= link_to "Cancel Event", participation_path(current_user.find_participation_for(event)), data: { bs_toggle: "modal", bs_target: "#destroy-event-#{event.id}", turbo_method: :delete, confirm: 'Are you sure?' }, class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <h3>My profile</h3>
  <p>Favorite Sports🖤</p>
  <% @user_favourites.each do |fav| %>
    <p>
      <%= fav.category.sport %>
    </p>
  <% end %>
</div>

<div class="container background-div" data-controller="edit">
  <button data-action="click->edit#toggle" style="justify-content: right;">Update</button>
  <div class="container d-none" data-edit-target="toEdit">
    <h4>update your profile</h4>
    <% @user_favourites.each do |fav| %>
      <p>
        Favorite Sport: <%= fav.category.sport %>
      </p>
      <%= link_to "delete", favourite_path(fav.id), data: {turbo_method: :delete, confirm: 'Are you sure?' } %>
    <% end %>

    <div>
      <%= form_for(current_user, url: user_profile_path, method: :patch) do |f| %>
        <div>
          <%= f.label :address, notice: 'Your address was successfully updated.'%><br>
          <%= f.text_field :address %>
        </div>

        <div>
          <%= f.label :category_ids, "Select your favorite sports" %><br>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :sport do |b| %>
            <%= b.check_box %> <%= b.text %><br>
          <% end %>
        </div>

        <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>

<%# Code of our hidden modals  %>
<% @events.each do |event| %>
  <%= render "events/edit_modal", event: event %>
  <%= render 'events/destroy_modal', event: event %>
<% end %>
