hi
<h3>
Your futur events
</h3>
<div >
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.category%></td>
    <td><%= event.start_at %></td>
    <td><%= event.end_at %></td>
  </tr>
  <% end %>
</div>

<h3>
event jou joined
</h3>
.
.
.

<h3>
your categories
</h3>

<div>
  <% Category.all.each do |cat| %>
    <div>
      <p><%= cat.sport %></p>
      <%= link_to "Fav", category_favourites_path(cat), data: { turbo_method: :post } %>
    </div>
  <% end %>
</div>
