hi
<h3>
Your futur events
</h3>
<div >
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.category%></td>
    <td><%= event.start_at %></td>
    <td><%= event.end_at %></td>
  </tr>
  <% end %>
</div>

<h3>
event jou joined
</h3>
.
.
.

<h3>
your categories
</h3>

<% @user_favourites.each do |fav| %>
  <p>
    Favorite Sport: <%= fav.category.sport %>
  </p>
  <%= link_to "delete", favourite_path(fav.id), data: {turbo_method: :delete, confirm: 'Are you sure?' } %>
<% end%>

<h4> ADD </h4>
<div>
  <% @other_categories.each do |cat| %>
    <div>
      <p><%= cat.sport %></p>
     <%= link_to "Fav", category_favourites_path(cat), data: { turbo_method: :post } %>
    </div>
  <% end %>
</div>
