<div class="welcome-container">
  <div class="container">
    <h1>Welcome back, <%= current_user.first_name %></h1>

    <h3>You're set to attend <strong><%= @next_events.count %></strong> <%= "event".pluralize(@next_events.count) %></h3>
  </div>
  <section class="events">
    <%= render "events/event_cards", events: @next_events  %>
  </section>
</div>

<div class="container">
  <h3>You've attendeed <strong><%= @past_events.count %></strong> <%= "event".pluralize(@past_events.count) %></h3>
</div>
<section class="events">
    <%= render "events/event_cards", events: @past_events  %>
</section>

<div class="container schedule-container">
  <div class="row">

<!-- Préférences -->
<div class="col-6 card-container">
<p class="card-text">Your preferences</p>
  <div class="card h-100"> <!-- Ajout de la classe h-100 pour que la carte occupe toute la hauteur -->
    <div class="card-body">
      <div class="sport-logos-container">
        <% current_user.favourite_categories.each do |category| %>
          <%= image_tag "#{category.sport.downcase}.png", alt: category.sport, class: "sport-logo small-logo" %>
        <% end %>
      </div>
      <!-- Bouton pour ouvrir la modale de choix des passions -->
      <button type="button" class="small-button" data-bs-toggle="offcanvas" data-bs-target="#select-fav">
        Your sports
      </button>
    </div>
  </div>
</div>



<!-- modal d'actualisation des favoris -->
<div class="offcanvas offcanvas-bottom round-top" tabindex="-1" id="select-fav" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Select your favorites</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
  <%= form_tag(dashboard_path, method: :get, class: "search-form-inner") do %>
    <div data-controller="myfavs">
      <div data-myfavs-target="categories">
        <% Category.all.each do |category| %>
          <div class="form-check form-switch">
            <%= check_box_tag "categories[]", category.id, params[:categories]&.map(&:to_i)&.include?(category.id), class: 'form-check-input', id: "category_#{category.id}", data: { action: "change->myfavs#filter" } %>
            <%= label_tag "category_#{category.id}", category.sport, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
