<div class="container">
  <h2>Hello <%= current_user.first_name %></h2>
  <h3>Your created events💪</h3>
  <div class="row">
    <% @events.each do |event| %>
      <% if event.created_event?(current_user) %>
        <div class="col-md-4 mb-4">
          <div class="card" data-controller="hover">
            <%# Insérer l'image de l'icône de la catégorie ici %>
            <div class="card-body" data-action="mouseenter->hover#see mouseleave->hover#hide">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-text"><strong>Category:</strong> <%= event.category.sport %></p>
              <p class="card-text"><strong>Starts at:</strong> <%= event.start_at %></p>
              <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
              <div class='btn-container'>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#edit-event-<%= event.id %>">Update</button>
                <% participation = Participation.find_by(user: current_user, event: event) %>
                <%= link_to "Delete Event", participation_path(participation), data: { bs_toggle: "modal", bs_target: "#destroy-participation-#{event.id}", turbo_method: :delete, confirm: 'Are you sure?' }, class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h3> Events you join😎</h3>
  <div class="row">
    <% @events.each do |event| %>
      <% unless event.created_event?(current_user) %>
        <div class="col-md-4 mb-4">
          <div class="card" data-controller="hover">
            <%# Insérer l'image de l'icône de la catégorie ici %>
            <div class="card-body" data-action="mouseenter->hover#see mouseleave->hover#hide">
              <h5 class="card-title"><%= event.name %></h5>
              <p class="card-text"><strong>Category:</strong> <%= event.category.sport %></p>
              <p class="card-text"><strong>Starts at:</strong> <%= event.start_at %></p>
              <p class="card-text"><strong>Participants:</strong> <%= event.current_participants_count %> / <%= event.max_player %></p>
              <div class='btn-container'>
              <% participation = Participation.find_by(user: current_user, event: event) %>
                <%= link_to "Cancel coucou", participation_path(participation), data: { bs_toggle: "modal", bs_target: "#destroy-participation-#{event.id}", turbo_method: :delete, confirm: 'Are you sure?' }, class: "btn btn-light" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <h3>My profile</h3>
  <p>Favorite Sports🖤</p>
  <% @user_favourites.each do |fav| %>
    <p>
      <%= fav.category.sport %>
    </p>
  <% end %>
</div>

<div class="container background-div" data-controller="edit">
  <button data-action="click->edit#toggle" style="justify-content: right;">Update</button>
  <div class="container d-none" data-edit-target="toEdit">
    <h4>update your profile</h4>
    <% @user_favourites.each do |fav| %>
      <p>
        Favorite Sport: <%= fav.category.sport %>
      </p>
      <%= link_to "delete", favourite_path(fav.id), data: {turbo_method: :delete, confirm: 'Are you sure?' } %>
    <% end %>

    <div>
      <%= form_for(current_user, url: user_profile_path, method: :patch) do |f| %>
        <div>
          <%= f.label :address, notice: 'Your address was successfully updated.'%><br>
          <%= f.text_field :address %>
        </div>

        <div>
          <%= f.label :category_ids, "Select your favorite sports" %><br>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :sport do |b| %>
            <%= b.check_box %> <%= b.text %><br>
          <% end %>
        </div>

        <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</div>

<%# Code of our hidden modals  %>
<% @events.each do |event| %>
  <%= render "events/edit_modal", event: event %>
  <%= render 'events/destroy_modal', event: event %>
  <%= render 'events/destroy_participation', event: event %>
<% end %>
